.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.939453;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.857910;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.861328;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.871094;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._10{margin-left:-35.696000px;}
._e{margin-left:-29.600000px;}
._1{margin-left:-25.520000px;}
._2{margin-left:-21.424000px;}
._f{margin-left:-14.800000px;}
._3{margin-left:-11.000000px;}
._6{margin-left:-7.904000px;}
._8{margin-left:-6.544000px;}
._11{margin-left:-5.218480px;}
._0{margin-left:-4.176000px;}
._7{margin-left:-2.552000px;}
._4{margin-left:-1.248000px;}
._9{width:1.300000px;}
._a{width:2.911954px;}
._c{width:4.080875px;}
._b{width:7.040000px;}
._5{width:11.380001px;}
._d{width:716.182192px;}
.fc7{color:rgb(0,0,255);}
.fc4{color:rgb(75,85,99);}
.fc0{color:rgb(255,255,255);}
.fc1{color:rgb(115,191,255);}
.fc3{color:rgb(11,31,59);}
.fc6{color:rgb(0,0,0);}
.fc5{color:rgb(17,24,39);}
.fc2{color:rgb(121,121,121);}
.fse{font-size:34.400002px;}
.fsa{font-size:80.000000px;}
.fs8{font-size:88.000000px;}
.fs7{font-size:90.000000px;}
.fs6{font-size:96.000000px;}
.fsd{font-size:96.320000px;}
.fs9{font-size:112.000000px;}
.fs3{font-size:124.000000px;}
.fs5{font-size:128.000000px;}
.fsc{font-size:141.039993px;}
.fsb{font-size:156.000000px;}
.fs4{font-size:184.000000px;}
.fs2{font-size:200.000000px;}
.fs1{font-size:232.000000px;}
.fs0{font-size:400.000000px;}
.y0{bottom:0.000000px;}
.y4c{bottom:14.924885px;}
.y32{bottom:16.716351px;}
.y6e{bottom:20.616169px;}
.y4e{bottom:34.870930px;}
.y61{bottom:36.625542px;}
.y5f{bottom:40.529774px;}
.y84{bottom:63.173424px;}
.y5e{bottom:83.425541px;}
.y3a{bottom:92.195152px;}
.y60{bottom:101.829613px;}
.y83{bottom:112.773426px;}
.y1e{bottom:116.584900px;}
.y85{bottom:121.751825px;}
.y6a{bottom:139.672424px;}
.y39{bottom:141.795155px;}
.y1d{bottom:142.984924px;}
.y22{bottom:146.984924px;}
.y1c{bottom:169.384949px;}
.y7e{bottom:171.576080px;}
.y69{bottom:173.272423px;}
.y1a{bottom:173.384949px;}
.y5d{bottom:174.565186px;}
.y19{bottom:199.784973px;}
.y5c{bottom:208.165184px;}
.y29{bottom:212.994507px;}
.y7d{bottom:217.816071px;}
.y68{bottom:222.872425px;}
.y18{bottom:226.184998px;}
.y8c{bottom:226.881104px;}
.y30{bottom:228.994690px;}
.y21{bottom:230.184998px;}
.y1b{bottom:252.584991px;}
.y17{bottom:256.584991px;}
.y5b{bottom:257.765186px;}
.y28{bottom:262.594513px;}
.y2f{bottom:262.594666px;}
.y7c{bottom:264.056061px;}
.y96{bottom:281.501022px;}
.y97{bottom:282.697906px;}
.y16{bottom:282.984985px;}
.y8b{bottom:286.881104px;}
.y9{bottom:287.881104px;}
.y27{bottom:296.194519px;}
.y2e{bottom:296.194641px;}
.y15{bottom:309.384979px;}
.y7a{bottom:310.296066px;}
.y20{bottom:313.384979px;}
.y95{bottom:321.070312px;}
.y5a{bottom:323.908722px;}
.y45{bottom:324.326660px;}
.y74{bottom:324.725952px;}
.y67{bottom:328.968994px;}
.y93{bottom:333.717026px;}
.y94{bottom:334.913910px;}
.y14{bottom:339.784973px;}
.y26{bottom:345.794525px;}
.y2d{bottom:345.794617px;}
.y8{bottom:347.881104px;}
.y79{bottom:356.536072px;}
.y59{bottom:357.508728px;}
.y44{bottom:357.926636px;}
.y91{bottom:362.613022px;}
.y73{bottom:363.765945px;}
.y92{bottom:363.809906px;}
.y13{bottom:366.184967px;}
.y8a{bottom:377.881104px;}
.y66{bottom:378.569000px;}
.y43{bottom:391.526611px;}
.y12{bottom:392.584961px;}
.y90{bottom:395.250725px;}
.y25{bottom:395.394531px;}
.y2c{bottom:395.394592px;}
.y1f{bottom:396.584961px;}
.y78{bottom:402.776077px;}
.y72{bottom:402.805939px;}
.y58{bottom:407.108734px;}
.y7{bottom:407.881104px;}
.y48{bottom:421.813496px;}
.y11{bottom:422.984955px;}
.y42{bottom:425.126587px;}
.y65{bottom:428.169006px;}
.y24{bottom:428.994530px;}
.y2b{bottom:428.994568px;}
.y89{bottom:437.881104px;}
.y49{bottom:439.611225px;}
.y57{bottom:440.708740px;}
.y71{bottom:441.845932px;}
.y47{bottom:445.813496px;}
.y77{bottom:449.016083px;}
.y10{bottom:449.384956px;}
.y64{bottom:461.769005px;}
.y6{bottom:467.881104px;}
.yf{bottom:475.784954px;}
.y23{bottom:478.594532px;}
.y2a{bottom:478.594543px;}
.y2{bottom:480.602097px;}
.y70{bottom:480.885929px;}
.y41{bottom:488.726608px;}
.y56{bottom:490.308746px;}
.y76{bottom:495.256081px;}
.y63{bottom:511.369007px;}
.y6f{bottom:519.925930px;}
.y40{bottom:522.326614px;}
.y31{bottom:522.701496px;}
.y55{bottom:523.908745px;}
.y5{bottom:527.881119px;}
.y88{bottom:528.881119px;}
.y3b{bottom:529.573423px;}
.y6d{bottom:535.147991px;}
.y75{bottom:541.496082px;}
.ye{bottom:542.378342px;}
.y3f{bottom:555.926620px;}
.y54{bottom:573.508747px;}
.y1{bottom:577.762238px;}
.yc{bottom:580.405190px;}
.yd{bottom:581.185162px;}
.y4{bottom:587.881119px;}
.y87{bottom:588.881119px;}
.y82{bottom:593.973419px;}
.y8f{bottom:597.327469px;}
.y38{bottom:600.122955px;}
.y7b{bottom:617.722961px;}
.y3e{bottom:619.526627px;}
.y53{bottom:622.015076px;}
.y37{bottom:633.722961px;}
.y8e{bottom:635.727463px;}
.y46{bottom:642.889423px;}
.y81{bottom:643.573425px;}
.y6b{bottom:645.398090px;}
.y86{bottom:648.881119px;}
.y3d{bottom:653.126625px;}
.y52{bottom:655.615082px;}
.y36{bottom:667.322960px;}
.y8d{bottom:674.127464px;}
.y3c{bottom:686.726627px;}
.y51{bottom:689.215080px;}
.y80{bottom:693.173424px;}
.y4d{bottom:708.467518px;}
.y6c{bottom:710.790668px;}
.y35{bottom:716.922962px;}
.yb{bottom:725.769592px;}
.y50{bottom:738.815083px;}
.y7f{bottom:742.773426px;}
.ya{bottom:771.608871px;}
.y4b{bottom:787.882927px;}
.y62{bottom:804.682926px;}
.y34{bottom:804.682951px;}
.y4a{bottom:821.482929px;}
.y4f{bottom:865.127220px;}
.y33{bottom:865.127254px;}
.y3{bottom:947.762238px;}
.h17{height:25.077735px;}
.he{height:58.320312px;}
.hc{height:60.156250px;}
.ha{height:60.972656px;}
.h9{height:61.523438px;}
.h8{height:65.625000px;}
.hb{height:66.515625px;}
.h12{height:69.890625px;}
.h13{height:69.984375px;}
.h16{height:70.217656px;}
.hf{height:81.539062px;}
.h10{height:81.593750px;}
.hd{height:81.648438px;}
.h7{height:87.000000px;}
.h5{height:90.396484px;}
.h14{height:93.312500px;}
.h15{height:102.680972px;}
.h11{height:113.724609px;}
.h6{height:125.062500px;}
.h3{height:145.703125px;}
.h4{height:145.800781px;}
.h2{height:169.128906px;}
.h1{height:291.601562px;}
.h0{height:1080.000000px;}
.w0{width:1920.000000px;}
.x0{left:0.000000px;}
.x2b{left:118.000000px;}
.x1{left:120.000000px;}
.x29{left:124.000000px;}
.x2{left:133.339447px;}
.x8{left:144.931259px;}
.x6{left:148.224264px;}
.x2a{left:152.049999px;}
.x9{left:158.931259px;}
.x2d{left:170.049999px;}
.x7{left:194.800476px;}
.x20{left:267.421570px;}
.x21{left:271.021393px;}
.x22{left:558.103149px;}
.x23{left:561.702942px;}
.x3{left:577.086853px;}
.xc{left:588.678650px;}
.xa{left:592.319778px;}
.xd{left:602.678650px;}
.xb{left:638.547791px;}
.x16{left:672.785889px;}
.x24{left:849.803711px;}
.x4{left:1020.834167px;}
.xe{left:1031.383987px;}
.x10{left:1032.425781px;}
.x11{left:1046.425781px;}
.xf{left:1082.295166px;}
.x2c{left:1120.000000px;}
.x25{left:1296.271576px;}
.x1a{left:1450.786407px;}
.x5{left:1464.581299px;}
.x14{left:1476.173340px;}
.x12{left:1480.960037px;}
.x15{left:1490.173340px;}
.x26{left:1519.602173px;}
.x13{left:1526.042480px;}
.x1b{left:1540.786407px;}
.x1f{left:1643.710327px;}
.x27{left:1653.187775px;}
.x1e{left:1655.585297px;}
.x28{left:1664.187714px;}
.x19{left:1667.873230px;}
.x17{left:1669.676819px;}
.x1c{left:1714.248199px;}
.x18{left:1723.801910px;}
.x1d{left:1746.373169px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._10{margin-left:-47.594667pt;}
._e{margin-left:-39.466667pt;}
._1{margin-left:-34.026667pt;}
._2{margin-left:-28.565333pt;}
._f{margin-left:-19.733333pt;}
._3{margin-left:-14.666667pt;}
._6{margin-left:-10.538667pt;}
._8{margin-left:-8.725333pt;}
._11{margin-left:-6.957973pt;}
._0{margin-left:-5.568000pt;}
._7{margin-left:-3.402667pt;}
._4{margin-left:-1.664000pt;}
._9{width:1.733333pt;}
._a{width:3.882606pt;}
._c{width:5.441167pt;}
._b{width:9.386667pt;}
._5{width:15.173334pt;}
._d{width:954.909590pt;}
.fse{font-size:45.866669pt;}
.fsa{font-size:106.666667pt;}
.fs8{font-size:117.333333pt;}
.fs7{font-size:120.000000pt;}
.fs6{font-size:128.000000pt;}
.fsd{font-size:128.426666pt;}
.fs9{font-size:149.333333pt;}
.fs3{font-size:165.333333pt;}
.fs5{font-size:170.666667pt;}
.fsc{font-size:188.053324pt;}
.fsb{font-size:208.000000pt;}
.fs4{font-size:245.333333pt;}
.fs2{font-size:266.666667pt;}
.fs1{font-size:309.333333pt;}
.fs0{font-size:533.333333pt;}
.y0{bottom:0.000000pt;}
.y4c{bottom:19.899846pt;}
.y32{bottom:22.288467pt;}
.y6e{bottom:27.488225pt;}
.y4e{bottom:46.494573pt;}
.y61{bottom:48.834056pt;}
.y5f{bottom:54.039698pt;}
.y84{bottom:84.231232pt;}
.y5e{bottom:111.234055pt;}
.y3a{bottom:122.926870pt;}
.y60{bottom:135.772817pt;}
.y83{bottom:150.364568pt;}
.y1e{bottom:155.446533pt;}
.y85{bottom:162.335767pt;}
.y6a{bottom:186.229899pt;}
.y39{bottom:189.060206pt;}
.y1d{bottom:190.646566pt;}
.y22{bottom:195.979899pt;}
.y1c{bottom:225.846598pt;}
.y7e{bottom:228.768107pt;}
.y69{bottom:231.029897pt;}
.y1a{bottom:231.179932pt;}
.y5d{bottom:232.753581pt;}
.y19{bottom:266.379964pt;}
.y5c{bottom:277.553579pt;}
.y29{bottom:283.992676pt;}
.y7d{bottom:290.421427pt;}
.y68{bottom:297.163233pt;}
.y18{bottom:301.579997pt;}
.y8c{bottom:302.508138pt;}
.y30{bottom:305.326253pt;}
.y21{bottom:306.913330pt;}
.y1b{bottom:336.779989pt;}
.y17{bottom:342.113322pt;}
.y5b{bottom:343.686915pt;}
.y28{bottom:350.126017pt;}
.y2f{bottom:350.126221pt;}
.y7c{bottom:352.074748pt;}
.y96{bottom:375.334696pt;}
.y97{bottom:376.930542pt;}
.y16{bottom:377.313314pt;}
.y8b{bottom:382.508138pt;}
.y9{bottom:383.841471pt;}
.y27{bottom:394.926025pt;}
.y2e{bottom:394.926188pt;}
.y15{bottom:412.513306pt;}
.y7a{bottom:413.728088pt;}
.y20{bottom:417.846639pt;}
.y95{bottom:428.093750pt;}
.y5a{bottom:431.878296pt;}
.y45{bottom:432.435547pt;}
.y74{bottom:432.967936pt;}
.y67{bottom:438.625326pt;}
.y93{bottom:444.956034pt;}
.y94{bottom:446.551880pt;}
.y14{bottom:453.046631pt;}
.y26{bottom:461.059367pt;}
.y2d{bottom:461.059489pt;}
.y8{bottom:463.841471pt;}
.y79{bottom:475.381429pt;}
.y59{bottom:476.678304pt;}
.y44{bottom:477.235514pt;}
.y91{bottom:483.484029pt;}
.y73{bottom:485.021261pt;}
.y92{bottom:485.079875pt;}
.y13{bottom:488.246623pt;}
.y8a{bottom:503.841471pt;}
.y66{bottom:504.758667pt;}
.y43{bottom:522.035482pt;}
.y12{bottom:523.446615pt;}
.y90{bottom:527.000966pt;}
.y25{bottom:527.192708pt;}
.y2c{bottom:527.192790pt;}
.y1f{bottom:528.779948pt;}
.y78{bottom:537.034770pt;}
.y72{bottom:537.074585pt;}
.y58{bottom:542.811646pt;}
.y7{bottom:543.841471pt;}
.y48{bottom:562.417994pt;}
.y11{bottom:563.979940pt;}
.y42{bottom:566.835449pt;}
.y65{bottom:570.892008pt;}
.y24{bottom:571.992706pt;}
.y2b{bottom:571.992757pt;}
.y89{bottom:583.841471pt;}
.y49{bottom:586.148300pt;}
.y57{bottom:587.611654pt;}
.y71{bottom:589.127909pt;}
.y47{bottom:594.417994pt;}
.y77{bottom:598.688110pt;}
.y10{bottom:599.179942pt;}
.y64{bottom:615.692006pt;}
.y6{bottom:623.841471pt;}
.yf{bottom:634.379939pt;}
.y23{bottom:638.126043pt;}
.y2a{bottom:638.126058pt;}
.y2{bottom:640.802795pt;}
.y70{bottom:641.181239pt;}
.y41{bottom:651.635478pt;}
.y56{bottom:653.744995pt;}
.y76{bottom:660.341441pt;}
.y63{bottom:681.825343pt;}
.y6f{bottom:693.234573pt;}
.y40{bottom:696.435486pt;}
.y31{bottom:696.935328pt;}
.y55{bottom:698.544993pt;}
.y5{bottom:703.841492pt;}
.y88{bottom:705.174825pt;}
.y3b{bottom:706.097898pt;}
.y6d{bottom:713.530655pt;}
.y75{bottom:721.994776pt;}
.ye{bottom:723.171122pt;}
.y3f{bottom:741.235494pt;}
.y54{bottom:764.678329pt;}
.y1{bottom:770.349650pt;}
.yc{bottom:773.873586pt;}
.yd{bottom:774.913549pt;}
.y4{bottom:783.841492pt;}
.y87{bottom:785.174825pt;}
.y82{bottom:791.964559pt;}
.y8f{bottom:796.436625pt;}
.y38{bottom:800.163940pt;}
.y7b{bottom:823.630615pt;}
.y3e{bottom:826.035502pt;}
.y53{bottom:829.353434pt;}
.y37{bottom:844.963949pt;}
.y8e{bottom:847.636617pt;}
.y46{bottom:857.185898pt;}
.y81{bottom:858.097900pt;}
.y6b{bottom:860.530787pt;}
.y86{bottom:865.174825pt;}
.y3d{bottom:870.835500pt;}
.y52{bottom:874.153442pt;}
.y36{bottom:889.763947pt;}
.y8d{bottom:898.836619pt;}
.y3c{bottom:915.635503pt;}
.y51{bottom:918.953440pt;}
.y80{bottom:924.231232pt;}
.y4d{bottom:944.623357pt;}
.y6c{bottom:947.720891pt;}
.y35{bottom:955.897283pt;}
.yb{bottom:967.692790pt;}
.y50{bottom:985.086777pt;}
.y7f{bottom:990.364568pt;}
.ya{bottom:1028.811829pt;}
.y4b{bottom:1050.510569pt;}
.y62{bottom:1072.910568pt;}
.y34{bottom:1072.910601pt;}
.y4a{bottom:1095.310572pt;}
.y4f{bottom:1153.502960pt;}
.y33{bottom:1153.503006pt;}
.y3{bottom:1263.682983pt;}
.h17{height:33.436981pt;}
.he{height:77.760417pt;}
.hc{height:80.208333pt;}
.ha{height:81.296875pt;}
.h9{height:82.031250pt;}
.h8{height:87.500000pt;}
.hb{height:88.687500pt;}
.h12{height:93.187500pt;}
.h13{height:93.312500pt;}
.h16{height:93.623541pt;}
.hf{height:108.718750pt;}
.h10{height:108.791667pt;}
.hd{height:108.864583pt;}
.h7{height:116.000000pt;}
.h5{height:120.528646pt;}
.h14{height:124.416667pt;}
.h15{height:136.907962pt;}
.h11{height:151.632812pt;}
.h6{height:166.750000pt;}
.h3{height:194.270833pt;}
.h4{height:194.401042pt;}
.h2{height:225.505208pt;}
.h1{height:388.802083pt;}
.h0{height:1440.000000pt;}
.w0{width:2560.000000pt;}
.x0{left:0.000000pt;}
.x2b{left:157.333333pt;}
.x1{left:160.000000pt;}
.x29{left:165.333333pt;}
.x2{left:177.785929pt;}
.x8{left:193.241679pt;}
.x6{left:197.632352pt;}
.x2a{left:202.733332pt;}
.x9{left:211.908346pt;}
.x2d{left:226.733332pt;}
.x7{left:259.733968pt;}
.x20{left:356.562093pt;}
.x21{left:361.361857pt;}
.x22{left:744.137533pt;}
.x23{left:748.937256pt;}
.x3{left:769.449137pt;}
.xc{left:784.904867pt;}
.xa{left:789.759705pt;}
.xd{left:803.571533pt;}
.xb{left:851.397054pt;}
.x16{left:897.047852pt;}
.x24{left:1133.071615pt;}
.x4{left:1361.112223pt;}
.xe{left:1375.178650pt;}
.x10{left:1376.567708pt;}
.x11{left:1395.234375pt;}
.xf{left:1443.060221pt;}
.x2c{left:1493.333333pt;}
.x25{left:1728.362101pt;}
.x1a{left:1934.381877pt;}
.x5{left:1952.775065pt;}
.x14{left:1968.231120pt;}
.x12{left:1974.613383pt;}
.x15{left:1986.897786pt;}
.x26{left:2026.136230pt;}
.x13{left:2034.723307pt;}
.x1b{left:2054.381877pt;}
.x1f{left:2191.613770pt;}
.x27{left:2204.250366pt;}
.x1e{left:2207.447062pt;}
.x28{left:2218.916951pt;}
.x19{left:2223.830973pt;}
.x17{left:2226.235758pt;}
.x1c{left:2285.664266pt;}
.x18{left:2298.402547pt;}
.x1d{left:2328.497559pt;}
}
